@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-color: #4a4346;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-color: #f0e6da;
    --background-start-color: #4a4346;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground-color);
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    var(--background-start-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
